# SPDX-FileCopyrightText: 2024 Vladimir Rusinov
# SPDX-License-Identifier: Apache-2.0
---

substitutions:
  devicename: m5stickc
  upper_devicename: M5StickC

esphome:
  name: "netatmo-display"
  platform: ESP32
  board: m5stick-c
  platformio_options:
    upload_speed: 115200
  includes:
    - "netatmo_display.h"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

# Enable logging
debug:

logger:

# Enable Home Assistant API
api:
  password: !secret homeassistant_password

ota:
  password: !secret homeassistant_password

# Resources:
font:
  - file: 'fonts/roboto/Roboto-Regular.ttf'
    id: large_font
    size: 36

  - file: 'fonts/roboto/Roboto-Light.ttf'
    id: font3
    size: 15

# Sensors
sensor:
  - platform: wifi_signal
    name: ${upper_devicename} WiFi Signal
    id: wifi_dbm
  - platform: uptime
    name: ${upper_devicename} Uptime
  - platform: homeassistant
    id: cabinet_co2
    entity_id: sensor.netatmo_home_living_room_cabinet_co2
    internal: true
  - platform: homeassistant
    id: cabinet_temp
    entity_id: sensor.netatmo_home_living_room_cabinet_temperature
    internal: true
  - platform: homeassistant
    id: living_room_co2
    entity_id: sensor.netatmo_home_living_room_co2
    internal: true
  - platform: homeassistant
    id: living_room_temp
    entity_id: sensor.netatmo_home_living_room_temperature
    internal: true
  - platform: homeassistant
    id: bedroom_co2
    entity_id: sensor.netatmo_home_living_room_bedroom_co2
    internal: true
  - platform: homeassistant
    id: bedroom_temp
    entity_id: sensor.netatmo_home_living_room_bedroom_temperature
    internal: true
  - platform: homeassistant
    id: outdoor_temp
    entity_id: sensor.netatmo_home_living_room_outdoor_temperature
    internal: true

# internal LED
light:
  - platform: monochromatic
    output: builtin_led
    name: ${upper_devicename} Led
    id: led1

output:
  - platform: ledc
    pin: 10
    inverted: true
    id: builtin_led

spi:
  clk_pin: GPIO13
  mosi_pin: GPIO15

i2c:
  - id: bus_a
    sda: GPIO21
    scl: GPIO22
    scan: true

# builtin 80x160 TFT
display:
  - platform: st7735
    model: 'INITR_MINI160X80'
    #model: 'INITR_BLACKTAB'
    device_width: 80
    device_height: 160
    col_start: 0
    row_start: 0
    cs_pin: GPIO5
    dc_pin: GPIO23
    reset_pin: GPIO18
    rotation: 270
    use_bgr: true
    invert_colors: true
    # https://esphome.io/components/display/index.html
    lambda: |-
      display_update(it);

time:
  - platform: homeassistant
    id: homeassistant_time
